<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CUSTOM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <layout class="com.server.framework.common.CustomLogFormatter" />
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/app.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

<!--    <appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="com.server.framework.common.CustomLogFormatter" />-->
<!--    </appender>-->
    
    <root level="INFO">
        <appender-ref ref="CUSTOM_FILE" />
<!--        <appender-ref ref="CUSTOM_CONSOLE" />-->
    </root>
</configuration>